.forofor-error{
	background-image: url(http://pobox.herokuapp.com/images/missing_phones.jpg);
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	background-color: $darkgray;
	padding: 150px;
	h1{
		font-size: 60px;
	}

}

.fivehundred-error{
	background-image: url(http://pobox.herokuapp.com/images/car_mechanic.jpg);
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	background-color: $darkgray;
	padding: 150px;
	h1{
		font-size: 60px;
	}
	p{
		margin: 40px 0px 40px 0px;
	}

}