$text-foot: $darkgray;

.footer{
  background-color: $lightgray;
  padding: 30px 0px 40px 0px;
  margin-top: 5em;
}

.footer p{
	color: $text-foot;
  	font-weight: 200;
	margin: 0px 0px 2px 0px;
	padding: 0px;
}
.footer h6{
	color: $text-foot;
	font-weight: bold;
	text-transform: none;
}
.footer {
	a {
  		&:link{
  			color: $text-foot;
  			font-weight: 200;
  		}
  		&:hover {
  			border: none;
  			color: $text-foot;
  		}
	}
	img{
		width: 75px;
	}
}

