@import "fonts";
@import "compass";
@import "colors";


/* Apps & Websites */
.postcode{

}
.postcode .primary{
  background: $postcodeblue;
}
.postcode .secondary{
  background: $darkgray;
}
.postcode .tertiary{
  background: $lightgray;
}

.promptly{

}
.promptly .primary{
  background: $promptlyblue;
}
.promptly .secondary{
  background: $orange;
}
.recordtrac{

}
.recordtrac .primary{
  background: $recordtracred;
}
.recordtrac .secondary{
  background: $green;
}
.cityvoice{

}
.cityvoice .primary{
  background: $green;
}
.cityvoice .secondary{
  background: $yellow;
}

/* Typography */
h1 {
  color: $typography;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 38px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
h2{
  color: $typography;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 30px;
}
h3{
  color: $typography;
  font-family: "Open Sans", Arial, sans-serif;
    font-size: 26px;
}
h4{
  color: $typography;
  font-family: "Open Sans", Arial, sans-serif;
    font-size: 20px;
}
h5{
  color: $typography;
  font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}
h6{
  color: $typography;
  font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}
p {
  color: $typography;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
}
small{
  font-size: 9px;
  padding: 5px 10px;
}

.heading{
  border-bottom: 1px solid #58585B;
  padding: 0px 0px 10px 0px;
  margin: 40px 0px 20px 0px;
}

/* Links */
a:link {
    color: $postcodeblue;
}
a:visited {
    color: $postcodeblue;
}
a:hover {
  border-bottom: 1px solid $postcodeblue;
    color: $postcodeblue;
}
a:active {
    color: $postcodeblue;
}
.wht a:link {
  color: #FFF;
}
.wht a:visited {
    color: #FFF;
}
.wht a:hover {
    color: #FFF;
}
.wht a:active {
    color: #FFF;
}
.drk a:link {
  color: #58585B;
}
.drk a:visited {
    color: $typography;
}
.drk a:hover {
    color: $typography;
  border-bottom: 1px solid $typography;
}
.drk a:active {
    color: $typography;
}

/* Buttons */
.button{
  color: $btntext;
  font-family: 'Montserrat', Arial, sans-serif;  
  margin: 0em 0em .5em 0em;
}
.button:visited{
  color: $btntext;
}