@import "fonts";
@import "compass";
@import "colors";
@import "typography";
@import "errorpages";
@import "footer";


/* Apps & Websites */
.postcode{

}
.postcode .primary{
  background: $postcodeblue;
}
.postcode .secondary{
  background: $darkgray;
}
.postcode .tertiary{
  background: $lightgray;
}

.promptly{

}
.promptly .primary{
  background: $promptlyblue;
}
.promptly .secondary{
  background: $orange;
}
.recordtrac{

}
.recordtrac .primary{
  background: $recordtracred;
}
.recordtrac .secondary{
  background: $green;
}
.cityvoice{

}
.cityvoice .primary{
  background: $green;
}
.cityvoice .secondary{
  background: $yellow;
}

/* Links */
a:link {
    color: $postcodeblue;
}
a:visited {
    color: $postcodeblue;
}
a:hover {
  border-bottom: 1px solid $postcodeblue;
    color: $postcodeblue;
}
a:active {
    color: $postcodeblue;
}
.wht {
  a:link {
    color: #FFF;
  }
  a:visited {
    color: #FFF;
  }
  a:hover {
    border-bottom: 1px solid #FFF;
    color: #FFF;
  }
  a:active {
    color: #FFF;
  }
}
.drk a:link {
  color: #58585B;
}
.drk a:visited {
    color: $typography;
}
.drk a:hover {
    color: $typography;
  border-bottom: 1px solid $typography;
}
.drk a:active {
    color: $typography;
}

/* Buttons */
.button{
  color: $btntext;
  font-family: 'Montserrat', Arial, sans-serif;  
  margin: 0em 0em .5em 0em;
}
.button:visited{
  color: $btntext;
}