@import "fonts";
@import "compass";
@import "colors";
@import "typography";
@import "navbar";
@import "errorpages";
@import "footer";


/* Apps & Websites */
.postcode {

}
.postcode .primary {
  background: $postcodeblue;
}
.postcode .secondary {
  background: $darkgray;
}
.postcode .tertiary {
  background: $lightgray;
}

.promptly {

}
.promptly .primary {
  background: $promptlyblue;
}
.promptly .secondary { 
  background: $orange;
}
.recordtrac {

}
.recordtrac .primary {
  background: $recordtracred;
}
.recordtrac .secondary {
  background: $green;
}
.cityvoice {

}
.cityvoice .primary {
  background: $green;
}
.cityvoice .secondary {
  background: $yellow;
}

/* Links */
a { 
    color: $postcodeblue;
  &:visited {
      color: $postcodeblue;
  }
  &:hover {
    border-bottom: 1px solid $postcodeblue;
      color: $postcodeblue;
  }
  &:active {
      color: $postcodeblue;
  }
}
.wht a {
  color: #FFF;
  &:visited {
    color: #FFF;
  }
  &:hover {
    border-bottom: 1px solid #FFF;
    color: #FFF;
  }
  &:active {
    color: #FFF;
  }
}

.drk a {
  color: #58585B;
  &:visited {
      color: $typography;
  }
  &:hover {
      color: $typography;
    border-bottom: 1px solid $typography;
  }
  &:active {
      color: $typography;
  }
}

/* Buttons */
.button {
  color: $btntext;
  font-family: 'Montserrat', Arial, sans-serif;  
  margin: 0em 0em .5em 0em;
  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px; 
  border-radius: 4px;
  text-transform: uppercase;
}
.button:visited {
  color: $btntext;
}

.promptly-landing {
  background-image: url('http://pobox.herokuapp.com/images/landing_background_optimized.jpg');
  background-color: #789FD3;
}

.promptly { 
  .landing-title {
      margin: 45px 0px 85px 0px;
  }
  .landing-footer {
    margin-top: 100px;
  }
  /* promptly buttons */
  .button {
    background: #EEA758; 
    &:hover {
      background: #f19b3b;
      color: #FFF;
      border-bottom: 1px solid #E6E7E8;
    }
  }
}

